@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: dark;
}

#root {
	display: grid;
	place-items: center;
	color-scheme: dark;
}

#root::before {
	--size: 80px;
	--line: hsl(0 0% 95% / 0.15);

	content: "";
	height: 100%;
	width: 100%;
	position: fixed;
	background: linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size),
	linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
	mask: linear-gradient(-15deg, transparent 30%, white);
	top: 0;
	z-index: -1;
	transform: translate3d(0, 0, -100vmin);
}

.ant-timeline-item-tail {
	background-color: #666666;
}
